body {
	background-color:#F2F2F2;
}
footer {
	background-color: white;
}

/* style pour index.jsp */
header.masthead {
	background-image: url(../img/header-bg.jpg);
	height: 45vh;
}

.client-display {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.client-container {
	box-shadow: 0.3em 0.3em 3em lightgrey;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	margin: .5em;
	border-radius: 5px;
	background-color: white;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0.5em;
}

.button {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 1em;
	padding: 0.5em;
	
	background-color: #212529;
	border-radius: 3px;
	color : white; 
	border: none; 
	font-family: Montserrat;
	font-size: 0.9em;
	
	transition: 0.3s;
}

.button:hover{
	background-color: #FED136;
	color: #212529;
	
}

#clients-display {
	width: 100vw;
	padding-top: 50px;
}

.name {
	font-family: MontSerrat;
	text-align: center;
	margin-bottom: 2em;
	font-size: 1.5em;
}

.text{
	font-family: MontSerrat;
	font-size : 0,8em;
}

/* style pour account.jsp */
.head {
	background-image: url(../img/header-bg.jpg);
	height: 35vh;
	background-size: cover;
	background-position: 10% 75%;
	margin-bottom: 3em;
}

.header-account {
	
}

.account-body {
	padding: 0;
}

.page-title {
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.transfer-button {
	margin: 0 auto;
	width: 250px;
}

.account-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4.5em;
}

table {
	width: 100%;
}

th, td {
	padding: 0.5em;
	text-align: left;
	border-bottom: 1px solid #212529;
}

.balance {
	text-align: right;
}

.action{
	width: 400px;
}

tr.data:hover {
	background-color: #FED136;
}

tr {
	transition: 0.6s;
}

.footer-button {
	margin: 3em auto;
	width: 250px;
}

h4 {
	margin-top: 1em;
}

.left-list{
	width: 30%
}

.right-list{
	width: 30%
}

/* style pour transfer.jsp */
.transfer-container {
	width: 100vw;
}

.centered-input{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-left : 2em;
	margin-top : 4em; 
}

/* style pour editor.jsp */

.edit-form {
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.form-cont {
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:100vw;
	align-items:center;

}
.input-container > input {
	margin-top: ;
	margin-left: 3em;
}

.edit-form > div {
	display:flex;
	flex-direction:column;
		
}
.edit-form > div > input {
	margin-bottom:1em;
	margin-left: 5em;
	color: grey;
}
.edit-form > div > label {

	margin-bottom:1.5em;
}
.buttons{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	width: 100%;
	position:relative;
	margin-top: 2em;
}

/* style error.js */

.error-section{
	width: 100vw;
	height: 75vh;
	background-image: url(../img/error-image.png);
	background-size: cover;
	background-position: 50% 50%;
	
}

.div-error{
	width: 10em;
	height: 2em;
}

