<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Proxibanquev3</display-name>
	
	<servlet>
		<servlet-name>Servlet Accueil</servlet-name>
		<servlet-class>presentation.IndexServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Servlet Accueil</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>presentation.ClientServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/tableau.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TransferServlet</servlet-name>
		<servlet-class>presentation.TransferServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/transfer.html</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CardServlet</servlet-name>
		<servlet-class>presentation.CardServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CardServlet</servlet-name>
		<url-pattern>/card.html</url-pattern>
	</servlet-mapping>
</web-app>